.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1rem;
    gap: 1rem;
}

.left > h1 {
    margin: 0;
}

.left {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.rounded-hackrail {
    height: 3rem;
    width: 3rem;
}
